body {
  background-image: url("./clouds.jpg");
}

.footer {
  margin: 0 auto;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  text-align: center;
}

.gitHubLink {
  text-decoration: none;
  color: rgb(22, 22, 22);
  font-weight: bolder;
}

.gitHubLink:hover {
  text-decoration: underline;
  cursor: pointer;
}

.coder {
  color: #c46964;
  font-weight: bold;
}
