body {
  background-image: url("./clouds.jpg");
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
  margin-top: -3%;
}

.gitHubLink {
  text-decoration: none;
  color: rgb(22, 22, 22);
  font-weight: 700;
}

.gitHubLink:hover {
  text-decoration: underline;
  cursor: pointer;
}

.coder {
  color: #a1186d;
  font-weight: bold;
}

@media (max-width: 576px) {
  .footer {
    font-size: 12px;
  }
}
