.container {
  background: #fffdfb;
  padding: 30px 40px;
  margin: 20px auto;
  border: none;
  border-radius: 50px;
  max-width: 900px;
}

.form {
  font-family: roboto;
  font-size: 16px;
  margin-bottom: 15px;
}

.find {
  font-family: roboto;
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  color: #0b5ed7;
}

.city {
  color: #0b5ed7;
  font-family: roboto;
  font-weight: 900;
  text-align: left;
  margin: 0;
}

ul {
  list-style: none;
  font-family: roboto;
  padding: 0;
  margin: 0;
}

.today {
  font-size: 20px;
  color: #757a79;
  text-align: left;
}

.current-weather {
  margin-left: 30px;
}

.current-temperature {
  font-family: roboto;
  font-size: 58px;
  color: rgb(56, 55, 55);
  font-weight: 800;
  line-height: 1;
  margin-left: 10px;
}

.today-weather-icon {
  position: relative;
  top: 10px;
}

.units {
  font-size: 16px;
  font-weight: 500;
  position: relative;
  top: -32px;
  margin-left: 0px;
}

.active {
  color: #6c7854;
  cursor: default;
}

a:link {
  text-decoration: none;
}

.hwd {
  font-size: 14px;
  color: #6c7854;
  text-align: left;
  margin-left: 45%;
}

.description {
  display: block;
  color: #0b5ed7;
  font-weight: 600;
  font-size: 16px;
}

.description::first-letter {
  text-transform: capitalize;
}
